<!-- <nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/armor-calc" routerLinkActive="active">Armor Defense Calulator</a>
</nav> -->



<button type="button" label="Home" icon="pi pi-plus" (click)="go('home')">Home</button>
<button type="button" label="Armor Defense Calulator" icon="pi pi-plus" class="ui-button-success" (click)="go('armor-calc')">Armor Defense Calulator</button>

<ons-button (click)="go('home')">Home</ons-button>

<main [@routerTransition]="getState(o)">
  <router-outlet #o="outlet"></router-outlet>
</main>